<div class="px-3 py-2 border-bottom mb-3">
  <div class="container d-flex flex-wrap justify-content-center">
    <form class="col-auto" action="/" method="post" >
      <label for="cityInput">City Name:</label>
      <input id="cityInput" type="text" name="cityName" value="">
      <label for="cityInput">Minimum Price:</label>
      <input id="minPriceInput" type="text" name="minPrice" value="">
      <label for="cityInput">Maximum Price:</label>
      <input id="maxPriceInput" type="text" name="maxPrice" value="">
      <button type="submit" class=" col-auto btn btn-primary mb-2">Submit</button>
    </form>
  </div>
</div>