{{> header }}
<main>
<div class="row">
<div class="col-md-8 col-md-offset-1"> 
    <h2>User login form</h2>
    {{> body }}
    <form class="userLogin"></form>
    <div class="form-group">
        <label for="inputEmail">User Email</label>
        <input type="email" class="form-cntrol" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter user email">
     
     </div>   
     <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
     </div>

     <button type="submit" class="btn btn-primary">Log in</button>
    </div>
    
    </div>
</div>
</main>

