{{> header }}
<main>
<div class="row">
<div class="col-md-8 col-md-offset-1"> 
    <h2>User sign up form</h2>
    {{> body }}
    <form class="userSignUp"></form>
    <div class="form-group">
        <label for="inputEmail">New User Email</label>
        <input type="email" class="form-cntrol" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter new user email">
     
     </div>   
     <div class="form-group">
        <label for="inputPassword">New Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
     </div>

     <button type="submit" class="btn btn-primary">Sign up</button>
    </div>
    
    </div>
</div>
</main>